<h1 class="text-center">対象のプレイヤーが存在しません</h1>
  <P>検索するプレイヤーがリーグに所属しているか確認してください</P>
  <P>検索するプレイヤーが該当のシーズンにリーグに所属しているか確認してください</P>
  <p>プレイヤー名が合っているかを確認してください</P>
  <%= link_to "戻る", search_players_path %>