<%
=begin%>
 <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %> 
<%
=end%>
<% flash.each do |message_type, message| %>
  <div class="alert-<%= message_type %> text-center p-3"><p><%= message %></p></div>
<% end %>