  <div class="row">
    <div class="col-12">
      <div class="row">
  <div class="w-100"></div>  
   <div class='mt-3 mb-3'>
    <h1>お気に入りした選手</h1>
     <tbody>
     <% if @players.present? %>
     <%
=begin%>
 変数で定義 
<%
=end%>
      <% @players.each do |player| %>
     <tr>

      <td><%= image_tag player[0]["player"]["photo"] %></td> 

      <td>プレイヤー名</td>
      <td><%= player[0]["player"]["name"] %></td>
      <%= link_to '選手詳細', players_path(@result["response"]) %>
    </tr>
       <%end%> 
       </div>
       </div>
      </div>
      </div>
    </div>
 <%end%>