<div class="container">
  <div class="row">
   <div class="col-lg-8 offset-lg-2">

<h1>player</h1>
<div>
  <% if @player.present? %>
  <table>
    <tr>
      <td>player_name</td>
       <td><%= @player["firstname"+"lastname"] %></td>
    </tr>
    <tr>
      <td>team</td>
      <td><%= @player["team"] %></td>
    </tr>
    <tr>
      <td>season</td>
      <td><%= @player["season"] %></td>
    </tr>
  </table>

  <% end %>
   </div>
  </div>
 </div>
</div>
