  <ul class='crud-menu-btn list-inline float-right'>
    <li class="list-inline-item">
      <%= link_to edit_match_path(match), id: "button-edit-#{match.id}" do %>
         <%= icon 'fa', 'pen' %>
      <% end %>
    </li>
    <li class="list-inline-item">
      <%= link_to match, id: "button-delete-#{match.id}", method: :delete, data: { confirm: '本当に削除しますか？'} do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </li>
  </ul>
