// app/views/matches/create.js.erb
var homeTeam = '<%= @match.home_team %>';
var awayTeam = '<%= @match.away_team %>';

var matchCard = document.getElementById('match-card');
matchCard.innerHTML = `<p>${homeTeam} vs ${awayTeam}</p>`;
