/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "top";
 @import "user_sessions";
 @import "bootstrap"; 
 @import "font-awesome";
 @import 'players_search';
 @import 'players_show';
 @import 'fotter.scss';
 @import 'matches.scss';
 @import 'comments.scss';
 @import 'font-awesome';

 
 body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    text-align: center;
    h1 {
      text-align: center;
    }
  }

  a.btn_07 {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    padding: 10px  1px;
    font-weight: bold;
    color: #90ee90;
    border-bottom: 2px solid #90ee90;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    transition: 0.5s;
  }
  a.btn_07:hover {
    color: #fff;
    background: #90ee90;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
  }
 
  .back-ground {
    background-color: #fff8dc;
  }

  .header {
    background-color: #87ceeb;
  }
  
  .fotter {
    background-color: #87ceeb;
  }

  h1 {
    margin:  0;             /* デフォルトCSS打ち消し */
    font-size:  24px;       /* 文字サイズ指定 */
    border-bottom:  solid;  /* 線指定 */
    padding-bottom:  5px;   /* 余白指定 */
    margin-bottom: 15px;    /* 周りの余白指定 */
  }
  
  // h1 {
  //   font-family: 'Arial', sans-serif; /* フォントの指定 */
  //   color: #333; /* テキストの色 */
  //   background-color: #f7f7f7; /* 背景色 */
  //   padding: 20px; /* 内側の余白 */
  //   border-radius: 10px; /* 角丸 */
  //   text-align: center; /* 中央寄せ */
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ドロップシャドウ */
  // }
  
  // h1:hover {
  //   background-color: #ddd; /* ホバー時の背景色 */
  // }

  .pagination>li>a {          
    border: none;     
    color: #696969;   
  }
  
  .pagination>.active>a {     
    background: #93c9ff;     
    border-radius: 15px;     
  }
  
  .pagination>li>a:hover {        
    border-radius: 15px;   
  }
  
  .pagination {
    justify-content: center;
  }

  .form-group {
    max-width: 900px; /* 例: フォームの最大幅を指定 */
    margin: 0 auto; /* 水平方向に中央に配置 */
  }
  


