// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import 'font-awesome-sprockets';
.player {
    width:100%;
    display: flex block; 
    flex-flow: column;
    min-height: 100vh;
    text-align: center;
    padding: 40px 40px 40px 40px;
    margin: 30px 30px 40px 40px;
    background-image: url("<%= asset_path('soccer_image.jpg') %>")
}

// .background {
//     background-image: image-url('soccer_image_image.jpg');
//   }
